*{
	padding: 0;
	margin: 0;
	border: 0;
}

.boton{
	padding: $espacios - 5px;
	border-radius: 30px;
	border: 2px solid $color-input;
}


.formulario{
	&-registro{
		width: 40%;
		background: desaturate($color-formulario, 20%);
		margin: auto;
		padding: $espacios + 5px;
	}
	&-input{
		$color-input: red;
		margin: $espacios 0;
		width: 90%;
		@include estilos-boton(20px, 1px, $color-input);
		&-contenedor{
			label{
				display: block;
				color: white;
				font:{
					size: 20px;
				}
			}
			&:last-child{
				text-align: center;
			}
		}
	}
	&-button{
		//@extend .boton;

		@include estilos-boton(3px, 5px, green);
	}
}
